@import 'extends';
@import 'mixins';

.button{
	@include transitions((background, border));

	@extend %base-button;
	@extend %base-border-radius;

	background-color:$primary-color;
	padding:10px 25px;
	font:{
		size: 16px;
		weight:normal;
	}
	color:white;
	position:relative;
	
	&.secondary{
		@include button-color($secondary-color, $secondary-hover-color);
	}

	&.tertiary{
		@include button-color($tertiary-color, $tertiary-hover-color);
	}
}
button{
	@extend .button;
}

.mobile-trigger{
	@include transitions(background);
	
	@extend %base-border-radius;
	
	float:left;
	width:30px;
	height:30px;
	padding:10px;
	background-color:darken($primary-color, 6%);
	cursor:pointer;
	//display:none;

	&:hover, &.active{
		background-color:darken($primary-color, 12%);
	}

	li{
		@extend %base-border-radius;
		@extend %full-width;
	
		display:inline-block;
		list-style:none;
		background-color:white;
		height: 4px;
		margin-top: 5px;

		&:first-child{
			margin-top:0;
		}
	}
}