%input-style{
	@extend %base-border-radius;
	
	font-size:14px;
	padding:15px;
	border:1px solid $border-color;
	transition:border $base-duration $base-curve;

	&:focus{
		border-color:$primary-color;
	}
}
%checkbox-radio-replacement-input{
	position:absolute;
	opacity:0;
	margin: 0;
	width: 20px;
	height: 20px;
}
%checkbox-radio-replacement{
	position:relative;
	float:left;
	padding-right:10px;
}
%checkbox-radio-replacement-base{
	@include transitions(border);
	
	position:relative;
	overflow:hidden;
	border:1px solid $border-color;
	box-shadow:inset 0 0 5px rgba(black, .15);
	background-color:white;
	display:inline-block;
	float:left;
}

%checkbox-replacement{
	@extend %checkbox-radio-replacement-base;
	width:20px;
	height:20px;
	border-radius:2px;
	cursor:pointer;

	&:before, &:after{
		@extend %contab;
		@extend %base-transition;
		@extend %base-border-radius;

		background-color:$secondary-color;
		opacity:0;
	}

	&:before{
		width: 12px;
		height: 3px;
		top: 8px;
		right:1px;
		transform: rotate(-50deg);
	}
	&:after{
		width: 5px;
		height: 3px;
		top: 9px;
		left:3px;
		transform: rotate(40deg);
	}
}
%checkbox-replacement-checked{
	&:before{
		opacity:1;
	}
	&:after{
		opacity:1;
	}
}

%radio-replacement{
	@extend %checkbox-radio-replacement-base;
	@extend %rounded;
	
	width:20px;
	height:20px;
	cursor:pointer;

	&:before{
		@extend %contab;
		@extend %base-transition;
		@extend %rounded;

		background-color:$secondary-color;
		opacity:0;
		width:12px;
		height:12px;
		left:3px;
		top:3px;
	}
}
%radio-replacement-checked{
	&:before{
		opacity:1;
	}
}