//Base
%full-width{
	width:100%;
	float:left;
}
%contab{
  content:'';
  position:absolute;
}

//Visual
%dropshadow{
  box-shadow:$base-shadow;
}
%rounded{
  border-radius:50%;
}
%base-border-radius{
  border-radius:$base-border-radius;
}
%base-border{
  border:1px solid $border-color;
}
%zebra{
  > *:nth-child(even){
    background-color:$table-zebra-color;
  }
}

//Vertical center
%vertical-center{
  display:table;

  > {
    display:table-cell;
    vertical-align:middle;
  }
}

%base-transition{
  @include transitions(all);
}