
.test-icon {
	width: 6px;
	height: 6px;
	background-position: -0px 0;
}

.no-svg .test-icon {
	display: inline-block;
	background-image: url("images/sprites/fallback/base-sprite.png");
	background-size: 15px 6px;
}

.test-icon {
	display: inline-block;
	background-image: url("images/sprites/base-sprite.svg");
	background-repeat: no-repeat;
}
